#layout-options,
.content-shell,
.break-point{
	position: relative;
	overflow: hidden;	
}
.content-shell{
	border:2px solid transparent;
	padding: 2px;
}

.content-shell > div{
	height: 60px;
	float: left;
	background: #EEE;
	-moz-box-shadow:    inset 0 0 3px #AAA;
   -webkit-box-shadow: inset 0 0 3px #AAA;
   box-shadow:         inset 0 0 3px #AAA;
   font-size: 9px;
   text-indent: -99em;
}
.side-column{
	margin: 0 3px;
}
.first-sidebar{
	margin-left: 0;
}
.last-sidebar{
	margin-right: 0;
}
.content-shell .side-column{
	width: 20px;
}
.content-shell .main-column{
	width: 100px;
}
.two-column .main-column{
	width: 77px;
}
.three-column .main-column{
	width: 54px;
}
#layout-options .option-radio {
	float: left;
	margin:0 20px 10px 0;
}
.break-point{
	float: left;
	width: 384px;
}
#side-sortables .content-shell > div{
	height: 10px;
	float: left;
	background: #EEE;
	-moz-box-shadow:    inset 0 0 1px #AAA;
   -webkit-box-shadow: inset 0 0 1px #AAA;
   box-shadow:         inset 0 0 1px #AAA;
   font-size: 9px;
   text-indent: -99em;
}
/* Sidebar on the edit page */
#side-sortables .option{
	background: #FFF;
	margin:0 4px 3px 0;
	padding: 2px;
	width: 28px;
}
#side-sortables .content-shell{
	margin: 0 -4px;
	border: 0;
	font-size: 8px;
	line-height: 8px;
}
#side-sortables .content-area-main{
	display: none;
}
#normal-sortables .content-shell span{
	display: none;
}
#side-sortables .content-shell .side-column{
	width: 10px;
}
#side-sortables .content-shell .main-column{
	width: 28px;
}
#side-sortables .three-column .main-column,
#side-sortables .two-column .main-column{
	width: 18px;
}

#side-sortables .break-point{
	float: left;
	width: auto;
}
#side-sortables label span{
	text-indent: -999em;
	float: left;
	display: none;
}
#side-sortables .three-column .side-column{
	width: 4px;
}

/* Widget Areas */
#ubc-collab-widget-areas .content-shell{
	border:none;
	padding: 5px 0;
}
#ubc-collab-widget-areas .widget-area span{
 display: block;
 font-size: 10px;
  color:#AAA;
}
#ubc-collab-widget-areas .widget-area{
	background: #EEE;
	padding: 10px;
	margin: 5px 0;
}
#ubc-collab-main-container .content-shell > div{
	height: 200px;
	font-size: 9px;
   text-indent: 0;
   -moz-box-shadow:    none;
   -webkit-box-shadow: none;
   box-shadow:         none;
   background: #FFF;
   height: auto;	
}
#ubc-collab-main-container input{
	width:18px;
	padding: 0;
	text-align: center;
	position: absolute;
	top:10px;
	right: 5px;
}


#ubc-collab-main-container {
    width: 100%;
}
#ubc-collab-main-container:before, #ubc-collab-main-container:after {
    content: "";
    display: table;
    line-height: 0;
}
#ubc-collab-main-container:after {
    clear: both;
}
#ubc-collab-main-container [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left:;
    margin: 0 0 0 2.5641%;
    min-height: 30px;
    width: 100%;
    position: relative;
}
#ubc-collab-main-container [class*="span"]:first-child {
    margin-left: 0;
}

#ubc-collab-main-container .span0,
#ubc-collab-main-container .span12 {
    width: 100%;
    margin-left: 0;
}
#ubc-collab-main-container .span11 {
    width: 91.453%;
}
#ubc-collab-main-container .span10 {
    width: 82.906%;
}
#ubc-collab-main-container .span9 {
    width: 74.359%;
}
#ubc-collab-main-container .span8 {
    width: 65.812%;
}
#ubc-collab-main-container .span7 {
    width: 57.265%;
}
#ubc-collab-main-container .span6 {
    width: 48.7179%;
}
#ubc-collab-main-container .span5 {
    width: 40.1709%;
}
#ubc-collab-main-container .span4 {
    width: 31.6239%;
}
#ubc-collab-main-container .span3 {
    width: 23.0769%;
}
#ubc-collab-main-container .span2 {
    width: 14.5299%;
}
#ubc-collab-main-container .span1 {
    width: 5.98291%;
}
#ubc-collab-main-container .content-area-main,
#ubc-collab-main-container .widget-area{
	padding: 10px;
}
#layout-width #ubc-collab-main-container{
	margin-top: 10px;
}


/* Range 
----------------------------------------*/
.ui-slider-horizontal{
	 background:#FFF;
    border: 1px solid #DDD;
    color: #333333;
    height: 0.8em;
    position: relative;
    text-align: left;
}

.ui-slider-range-max{
	right: 0;
	height: 100%;
	top: 0;
	background:#EEE;
	border: 0 none;
	display: block;
	font-size: 0.7em;
	position: absolute;
	z-index: 1;

}

.ui-slider-handle{
	background: #AAA;	
	border:2px solid #666;
	margin-left: -0.6em;
    top: -0.4em;
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#side-sortables #layout-width {
	display: none!important;
}
.widget-area{

}
#layout-width.default,
#layout-width.l1-column {
	display: none;
}
.l2-column-ms .ui-slider-horizontal,
.l2-column-ms .ui-slider-horizontal{
	
}
